### Importing the modules.

In [1]:
import pandas as pd
import numpy as np

### Loading and Parsing the CSV dataset file.

In [2]:
df = pd.read_csv('./tracks_features.csv')
print("Length of the Dataset -", len(df))

Length of the Dataset - 1204025

### Some information about the data.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204025 entries, 0 to 1204024
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1204025 non-null  object
 1   name              1204025 non-null  object
 2   album             1204025 non-null  object
 3   album_id          1204025 non-null  object
 4   artists           1204025 non-null  object
 5   artist_ids        1204025 non-null  object
 6   track_number      1204025 non-null  int64
 7   disc_number       1204025 non-null  int64
 8   explicit          1204025 non-null  bool
 9   danceability      1204025 non-null  float64
 10  energy            1204025 non-null  float64
 11  key               1204025 non-null  int64
 12  loudness          1204025 non-null  float64
 13  mode              1204025 non-null  int64
 14  speechiness       1204025 non-null  float64
 15  acousticness      1204025 non-null  float64
 16  instrumentalness  1204025 non-null  float64
 17  liveness          1204025 non-null  float64
 18  valence           1204025 non-null  float64
 19  tempo             1204025 non-null  float64
 20  duration_ms       1204025 non-null  int64
 21  time_signature    1204025 non-null  float64
 22  year              1204025 non-null  int64
 23  release_date      1204025 non-null  object
dtypes: bool(1), float64(10), int64(6), object(7)
memory usage: 212.4+ MB

In [4]:
df.head(2)

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.0261,0.000011,0.356,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.0129,0.000071,0.155,0.489,103.680,206200,4.0,1999,1999-11-02

In [5]:
df['name'] = df['name'].str.replace(' ', '')
df['album'] = df['album'].str.replace(' ', '')

In [6]:
df['name']

0                    Testify
1             GuerrillaRadio
2              CalmLikeaBomb
3                   MicCheck
4          SleepNowIntheFire
                 ...
1204020         GospelofJuke
1204021         PrismVisions
1204022             Tokyo360
1204023               Yummy!
1204024     That'sTheWayItIs
Name: name, Length: 1204025, dtype: object

In [7]:
df['album']

0          TheBattleOfLosAngeles
1          TheBattleOfLosAngeles
2          TheBattleOfLosAngeles
3          TheBattleOfLosAngeles
4          TheBattleOfLosAngeles
                   ...
1204020                 Notch-EP
1204021                 Notch-EP
1204022                 Notch-EP
1204023                 Notch-EP
1204024                 Notch-EP
Name: album, Length: 1204025, dtype: object

In [8]:
df['track'] = df['name'] + '-' + df['album']
df.head(5)

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date,track
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,TheBattleOfLosAngeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02,Testify-TheBattleOfLosAngeles
1,1wsRitfRRtWyEapl0q22o8,GuerrillaRadio,TheBattleOfLosAngeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02,GuerrillaRadio-TheBattleOfLosAngeles
2,1hR0fIFK2qRG3f3RF70pb7,CalmLikeaBomb,TheBattleOfLosAngeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02,CalmLikeaBomb-TheBattleOfLosAngeles
3,2lbASgTSoDO7MTuLAXlTW0,MicCheck,TheBattleOfLosAngeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02,MicCheck-TheBattleOfLosAngeles
4,1MQTmpYOZ6fcMQc56Hdo7T,SleepNowIntheFire,TheBattleOfLosAngeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02,SleepNowIntheFire-TheBattleOfLosAngeles

In [9]:
df['artist_ids'] = df['artist_ids'].str.strip("[]").str.strip("'")
df['artist_ids']

0          2d0hyoQ5ynDBnkvAbJKORj
1          2d0hyoQ5ynDBnkvAbJKORj
2          2d0hyoQ5ynDBnkvAbJKORj
3          2d0hyoQ5ynDBnkvAbJKORj
4          2d0hyoQ5ynDBnkvAbJKORj
                    ...
1204020    7AjItKsRnEYRSiBt2OxK1y
1204021    7AjItKsRnEYRSiBt2OxK1y
1204022    7AjItKsRnEYRSiBt2OxK1y
1204023    7AjItKsRnEYRSiBt2OxK1y
1204024    7AjItKsRnEYRSiBt2OxK1y
Name: artist_ids, Length: 1204025, dtype: object

In [10]:
df['artists'] = df['artists'].str.strip("[]").str.strip("'")
df['artists'] = df['artists'].str.replace(' ', '')
df['artists']

0          RageAgainstTheMachine
1          RageAgainstTheMachine
2          RageAgainstTheMachine
3          RageAgainstTheMachine
4          RageAgainstTheMachine
                   ...
1204020                  FVLCRVM
1204021                  FVLCRVM
1204022                  FVLCRVM
1204023                  FVLCRVM
1204024                  FVLCRVM
Name: artists, Length: 1204025, dtype: object

In [11]:
df['artists'].nunique()

165345

In [12]:
df.drop(['name','album', 'track_number', 'disc_number', 'explicit', 'key', 'mode', 'time_signature'], axis='columns', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204025 entries, 0 to 1204024
Data columns (total 17 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1204025 non-null  object
 1   album_id          1204025 non-null  object
 2   artists           1204025 non-null  object
 3   artist_ids        1204025 non-null  object
 4   danceability      1204025 non-null  float64
 5   energy            1204025 non-null  float64
 6   loudness          1204025 non-null  float64
 7   speechiness       1204025 non-null  float64
 8   acousticness      1204025 non-null  float64
 9   instrumentalness  1204025 non-null  float64
 10  liveness          1204025 non-null  float64
 11  valence           1204025 non-null  float64
 12  tempo             1204025 non-null  float64
 13  duration_ms       1204025 non-null  int64
 14  year              1204025 non-null  int64
 15  release_date      1204025 non-null  object
 16  track             1204025 non-null  object
dtypes: float64(9), int64(2), object(6)
memory usage: 156.2+ MB

In [13]:
df.head(5)

,id,album_id,artists,artist_ids,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,year,release_date,track
0,7lmeHLHBe4nmXzuXc0HDjk,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.470,0.978,-5.399,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,1999,1999-11-02,Testify-TheBattleOfLosAngeles
1,1wsRitfRRtWyEapl0q22o8,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.599,0.957,-5.764,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,1999,1999-11-02,GuerrillaRadio-TheBattleOfLosAngeles
2,1hR0fIFK2qRG3f3RF70pb7,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.315,0.970,-5.424,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,1999,1999-11-02,CalmLikeaBomb-TheBattleOfLosAngeles
3,2lbASgTSoDO7MTuLAXlTW0,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.440,0.967,-5.830,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,1999,1999-11-02,MicCheck-TheBattleOfLosAngeles
4,1MQTmpYOZ6fcMQc56Hdo7T,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.426,0.929,-6.729,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,1999,1999-11-02,SleepNowIntheFire-TheBattleOfLosAngeles

### Normalisation

In [14]:
import scipy.stats as stats

df['tempo'] = stats.zscore(df['tempo'])
# df['tempo']

df['loudness'] = stats.zscore(df['loudness'])
# df['loudness']

df.rename(columns={'duration_ms' : 'duration'}, inplace=True)
df['duration'] = stats.zscore(df['duration'])
# df['duration']

df.head(5)

,id,album_id,artists,artist_ids,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration,year,release_date,track
0,7lmeHLHBe4nmXzuXc0HDjk,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.470,0.978,0.918016,0.0727,0.02610,0.000011,0.3560,0.503,0.008781,-0.238621,1999,1999-11-02,Testify-TheBattleOfLosAngeles
1,1wsRitfRRtWyEapl0q22o8,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.599,0.957,0.865739,0.1880,0.01290,0.000071,0.1550,0.489,-0.451057,-0.262868,1999,1999-11-02,GuerrillaRadio-TheBattleOfLosAngeles
2,1hR0fIFK2qRG3f3RF70pb7,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.315,0.970,0.914435,0.4830,0.02340,0.000002,0.1220,0.370,1.038065,0.308569,1999,1999-11-02,CalmLikeaBomb-TheBattleOfLosAngeles
3,2lbASgTSoDO7MTuLAXlTW0,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.440,0.967,0.856287,0.2370,0.16300,0.000004,0.1210,0.574,-0.674995,-0.217001,1999,1999-11-02,MicCheck-TheBattleOfLosAngeles
4,1MQTmpYOZ6fcMQc56Hdo7T,2eia0myWFgoHuttJytCxgX,RageAgainstTheMachine,2d0hyoQ5ynDBnkvAbJKORj,0.426,0.929,0.727529,0.0701,0.00162,0.105000,0.0789,0.539,0.304640,-0.266567,1999,1999-11-02,SleepNowIntheFire-TheBattleOfLosAngeles

## Cosine Similarity

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

# columns = ['danceability', 'energy', 'loudness', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'duration']
columns = ['danceability', 'energy']
data = df[columns]
cos_sim = cosine_similarity(data)
print(cos_sim)

MemoryError: Unable to allocate 10.5 TiB for an array with shape (1204025, 1204025) and data type float64